<div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <ul>
        {{#each ingredients as |ingredient|}}
        <li class="card-text">{{ingredient}}</li>
        {{/each}}
    </ul>
    <p class="card-text">{{post_text}}</p>
    <p class="text-right">Created by {{user.username}}</p>
</div>
<script>
    arrayMaker({{ingredients}});
</script>